<!-- Navbar-->
<header class="app-header">
  <a class="app-header__logo" href="index.html">Dodder</a>
  <!-- Sidebar toggle button-->
  <a href="#" class="app-sidebar__toggle" data-toggle="sidebar" aria-label="Hide Sidebar">
    <i class="fas fa-bars"></i>
  </a>
  <!-- Navbar Right Menu-->
  <ul class="app-nav">
  </ul>
</header>
<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <div class="app-sidebar__user">
    <i class="app-menu__icon fas fa-user" style="font-size:36px" ></i>
    <div class="ml-3">
      <p class="app-sidebar__user-name">John Doe</p>
      <p class="app-sidebar__user-designation">Frontend Developer</p>
    </div>
  </div>
  <ul class="app-menu">
    <li><a class="app-menu__item active" href="dashboard.html"><i class="app-menu__icon fa fa-home"></i><span class="app-menu__label">Home</span></a></li>
    <li>
        <button class="app-menu__item active"  (click)="logoutClicked()">
            <i class="app-menu__icon fa fa-sign-out-alt"></i>
            <span class="app-menu__label">Logout</span>
        </button>
    </li>
  </ul>
</aside>
<main class="app-content">
  <app-root></app-root>
</main>
