<div >
  <form class="form-signin">
    <div style="text-align:center">
      <h3>Dodder</h3>
      <h5>.Net core, Domain Driven Design, Angular, Microservices example</h5>
      <br />
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    </div>

    <span *ngIf="usernameError !=''" style="color: red;">{{usernameError}}</span>
    <input [(ngModel)]="username" name="username" class="form-control" placeholder="username" required autofocus>

    <span *ngIf="passwordError !=''" style="color: red;">{{passwordError}}</span>
    <input [(ngModel)]="password" name="password" type="password" class="form-control" placeholder="Password" required>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="signInClicked()">Sign in</button>
    <p>If you don't have a valid account please <a routerLink="/register">Sign-up here</a></p>
    <div>
        <ngb-alert type="danger" [dismissible]="true" *ngIf="errorMessage != ''" (click)="clearErrorAlert()">{{errorMessage}}</ngb-alert>
    </div>
  </form>
</div>

